<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.AppPrueba"
    version   = "1.0.0">

<name>App Pedidos Mobile</name>

<description>
Proyecto de prueba para proyectos
</description>

<author href="https://example.com" email="rurbinas31@gmail.com">
Roney Urbina and Marco Amaya
</author>

</widget>
